---
import { getCollection } from "astro:content"
const allBlogPosts = await getCollection("blog")
import MainLayout from "../../layouts/MainLayout.astro"
---

<MainLayout title="Blog" description="Welcome to our blog page">
  <h2>My Blog</h2>
  <p>Welcome to my blog! Here we share our thoughts, news, and updates.</p>

  <ul>
    {allBlogPosts.map(post => (
      <li>
        <a href={`/blog/${post.slug}`}>{post.data.title}</a>
      </li>
    ))}
  </ul>
</MainLayout>
