---
import MainLayout from "../../layouts/MainLayout.astro"
---

<MainLayout title="Blog" description="Welcome to our blog page">
  <h2>Our Blog</h2>
  <p>Welcome to our blog! Here we share our thoughts, news, and updates.</p>
</MainLayout>
