@layer base {
    svg[data-icon="logomark"] * {
        fill: #fff;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-block-end: .5em;
}

img,
picture {
    height: auto;
}

.container {
    &.not-found {
        display: grid;
        place-items: center;
        text-align: center;
        gap: var(--space-sm);
    }
}

.post-container {
    .card {
        grid-template-rows: subgrid;
        grid-row: auto / span 6;

        .content {
            grid-template-rows: subgrid;
            grid-row: auto / span 4;
        }

        img {
            aspect-ratio: 4/3;
        }

        .featured-image {
            margin-inline: calc(var(--space-md) * -1);
            margin-block: var(--space-md);
        }

        .read-more {
            align-self: end;
        }
    }
}
