---
import MainLayout from "../layouts/MainLayout.astro"
import Link from "../components/Link.astro"
---

<MainLayout title="Page Not Found">
  <section class="container not-found" aria-label="404: Page not found">
    <h1 class="h1">
      Well this is awkard!
    </h1>
    <p>We seem to have misplaced our page.</p>
    <Link href={"/"}
          style={"secondary"}
          text={"Go home"}
          icon={{
            name: "tabler:home",
            side: "right",
          }} />

  </section>
</MainLayout>
