---
import { Image } from "astro:assets"
import MainLayout from "../layouts/MainLayout.astro"
import Link from "../components/Link.astro"

import myHeadshot from "../assets/images/Lance---Kim-Clune006.jpg"
---

<MainLayout title="About" description="Learn more about us">
  <section class="about" aria-label="About me">
    <Image
      src={myHeadshot}
      alt="My headshot"
      format="avif"
      width="600"
    />

    <div class="content">
      <h1 class="h1"> About Me </h1>
      <p>I'm a full-stack PHP/JS/WordPress developer. I live in the Collar City, where I photograph, code, write baroque pop, mountain bike and restore my 1976 sailboat.</p>
      <Link
        style={"secondary"}
        text={"ðŸ“ Contact Me"}
        href={"mailto:lancemonotone@gmail.com"} />
    </div>
  </section>
</MainLayout>
