---
import MainLayout from "../layouts/MainLayout.astro"
---

<MainLayout title="Contact" description="Get in touch with us">
  <h1 class="h1">Contact Us</h1>
  <p>If you have any questions or want to know more, feel free to reach out to us. We will be happy to help!</p>

  <h3>Email</h3>
  <p>youremail@domain.com</p>

  <h3>Phone</h3>
  <p>+12345678910</p>
</MainLayout>
