---
import MainLayout from "../layouts/MainLayout.astro"
---

<MainLayout title="Home" description="Welcome to my little corner of the web">
  <p>Hello from Lance</p>
  <p>My name is Lance and I'm a software engineer from the United States.</p>
</MainLayout>
