---
import MainLayout from "../layouts/MainLayout.astro"
---

<MainLayout title="Home" description="Welcome to my little corner of the web">
  <h2>Hello from Lance</h2>
  <p>My name is Lance and I'm a software engineer from the United States.</p>
</MainLayout>
